src/DotNetCraft.Common.NLogger/bin/
packages/
src/DotNetCraft.Common.NLogger/obj/
lib/
*.nupkg
*.user
*.suo
tests/NinjectDependencyResolver.Tests/bin/
src/DotNetCraft.Common.NinjectDependencyResolver/obj/
tests/NinjectDependencyResolver.Tests/obj/
src/DotNetCraft.Common.NinjectDependencyResolver/bin/
