src/DotNetCraft.Common.NLogger/bin/
packages/
src/DotNetCraft.Common.NLogger/obj/
lib/
*.nupkg
*.user
*.suo
tests/NinjectDependencyResolver.Tests/bin/
src/DotNetCraft.Common.NinjectDependencyResolver/obj/
tests/NinjectDependencyResolver.Tests/obj/
src/DotNetCraft.Common.NinjectDependencyResolver/bin/
Tests/DotNetCraft.FunctionManager.Tests/bin/
src/DotNetCraft.FunctionManager/obj/
src/DotNetCraft.FunctionManager/bin/
Tests/DotNetCraft.FunctionManager.Tests/obj/Release/DotNetCraft.FunctionManager.Tests.csproj.FileListAbsolute.txt
Tests/DotNetCraft.FunctionManager.Tests/obj/
Tests/FunctionManager.Tests/obj/
Tests/FunctionManager.Tests/bin/
test/NinjectDependencyResolver.Tests/bin/
test/NinjectDependencyResolver.Tests/obj/
test/FunctionManager.Tests/obj/
test/FunctionManager.Tests/bin/
src/DotNetCraft.SimpleEmailSender/obj/
src/DotNetCraft.SimpleEmailSender/bin/
